{% extends './base.html' %}
{% block title %}
user app messages of user {{ user.id }}
{% endblock %}

{% block content %}
<h1>all the messages posted by user: {{ user.username }}</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <th>message id</th>
            <th>message text</th>
            <th>posted by user</th>
        </thead>
        <tbody>
            {% for message in user.messages %}
            <tr>
                <td><a href="{{url_for('m_show', id=user.id, mid=message.id)}}">{{ message.id }}</a></td>
                <td>{{ message.text }}</td>
                <td>{{ user.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>
    <a class="btn btn-primary" href="{{url_for('m_new', id=user.id)}}">add a new message</a>
</p>
<p>
    <a href="{{url_for('show', id=user.id)}}">back to user {{ user.username }}'s page</a>
</p>
<p>
    <a href="{{url_for('index')}}">see all the users</a>
</p>
{% endblock %}